.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Personalización adicional sobre Bootstrap */
.App {
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
}

.note-input,
.note {
  margin-bottom: 15px;
}

.note {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px;
}

.note-title {
  font-weight: bold;
}

.search-box {
  margin-bottom: 20px;
}

/* Ajustes para los botones */
.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}

.btn-save {
  background-color: #007bff;
  color: white;
}

.btn-save:hover {
  background-color: #0069d9;
}

/* Ajustes para los inputs */
.form-control {
  border-radius: 20px;
}

/* Ajustes para el título de la aplicación */
.app-title {
  margin-bottom: 20px;
}
